/* line 5, ../scss/helpers/_functions.scss */
.mb-0 {
  margin-bottom: 0px !important; }

/* line 5, ../scss/helpers/_functions.scss */
.mb-5 {
  margin-bottom: 5px !important; }

/* line 5, ../scss/helpers/_functions.scss */
.mb-10 {
  margin-bottom: 10px !important; }

/* line 5, ../scss/helpers/_functions.scss */
.mb-15 {
  margin-bottom: 15px !important; }

/* line 5, ../scss/helpers/_functions.scss */
.mb-20 {
  margin-bottom: 20px !important; }

/* line 5, ../scss/helpers/_functions.scss */
.mb-25 {
  margin-bottom: 25px !important; }

/* line 5, ../scss/helpers/_functions.scss */
.mb-30 {
  margin-bottom: 30px !important; }

/* line 5, ../scss/helpers/_functions.scss */
.mb-35 {
  margin-bottom: 35px !important; }

/* line 5, ../scss/helpers/_functions.scss */
.mb-40 {
  margin-bottom: 40px !important; }

/* line 5, ../scss/helpers/_functions.scss */
.mb-50 {
  margin-bottom: 50px !important; }

/* line 5, ../scss/helpers/_functions.scss */
.mb-60 {
  margin-bottom: 60px !important; }

/* line 5, ../scss/helpers/_functions.scss */
.mb-80 {
  margin-bottom: 80px !important; }

/* line 5, ../scss/helpers/_functions.scss */
.mb-90 {
  margin-bottom: 90px !important; }

/* line 5, ../scss/helpers/_functions.scss */
.mb-100 {
  margin-bottom: 100px !important; }

/* line 12, ../scss/helpers/_functions.scss */
.mr-0 {
  margin-right: 0px !important; }

/* line 12, ../scss/helpers/_functions.scss */
.mr-5 {
  margin-right: 5px !important; }

/* line 12, ../scss/helpers/_functions.scss */
.mr-10 {
  margin-right: 10px !important; }

/* line 12, ../scss/helpers/_functions.scss */
.mr-15 {
  margin-right: 15px !important; }

/* line 12, ../scss/helpers/_functions.scss */
.mr-20 {
  margin-right: 20px !important; }

/* line 12, ../scss/helpers/_functions.scss */
.mr-25 {
  margin-right: 25px !important; }

/* line 12, ../scss/helpers/_functions.scss */
.mr-30 {
  margin-right: 30px !important; }

/* line 12, ../scss/helpers/_functions.scss */
.mr-35 {
  margin-right: 35px !important; }

/* line 12, ../scss/helpers/_functions.scss */
.mr-40 {
  margin-right: 40px !important; }

/* line 12, ../scss/helpers/_functions.scss */
.mr-50 {
  margin-right: 50px !important; }

/* line 12, ../scss/helpers/_functions.scss */
.mr-60 {
  margin-right: 60px !important; }

/* line 12, ../scss/helpers/_functions.scss */
.mr-80 {
  margin-right: 80px !important; }

/* line 12, ../scss/helpers/_functions.scss */
.mr-90 {
  margin-right: 90px !important; }

/* line 12, ../scss/helpers/_functions.scss */
.mr-100 {
  margin-right: 100px !important; }

/* line 19, ../scss/helpers/_functions.scss */
.mt-0 {
  margin-top: 0px !important; }

/* line 19, ../scss/helpers/_functions.scss */
.mt-5 {
  margin-top: 5px !important; }

/* line 19, ../scss/helpers/_functions.scss */
.mt-10 {
  margin-top: 10px !important; }

/* line 19, ../scss/helpers/_functions.scss */
.mt-15 {
  margin-top: 15px !important; }

/* line 19, ../scss/helpers/_functions.scss */
.mt-20 {
  margin-top: 20px !important; }

/* line 19, ../scss/helpers/_functions.scss */
.mt-25 {
  margin-top: 25px !important; }

/* line 19, ../scss/helpers/_functions.scss */
.mt-30 {
  margin-top: 30px !important; }

/* line 19, ../scss/helpers/_functions.scss */
.mt-35 {
  margin-top: 35px !important; }

/* line 19, ../scss/helpers/_functions.scss */
.mt-40 {
  margin-top: 40px !important; }

/* line 19, ../scss/helpers/_functions.scss */
.mt-50 {
  margin-top: 50px !important; }

/* line 19, ../scss/helpers/_functions.scss */
.mt-60 {
  margin-top: 60px !important; }

/* line 19, ../scss/helpers/_functions.scss */
.mt-80 {
  margin-top: 80px !important; }

/* line 19, ../scss/helpers/_functions.scss */
.mt-90 {
  margin-top: 90px !important; }

/* line 19, ../scss/helpers/_functions.scss */
.mt-100 {
  margin-top: 100px !important; }

/* line 26, ../scss/helpers/_functions.scss */
.ml-0 {
  margin-left: 0px !important; }

/* line 26, ../scss/helpers/_functions.scss */
.ml-5 {
  margin-left: 5px !important; }

/* line 26, ../scss/helpers/_functions.scss */
.ml-10 {
  margin-left: 10px !important; }

/* line 26, ../scss/helpers/_functions.scss */
.ml-15 {
  margin-left: 15px !important; }

/* line 26, ../scss/helpers/_functions.scss */
.ml-20 {
  margin-left: 20px !important; }

/* line 26, ../scss/helpers/_functions.scss */
.ml-25 {
  margin-left: 25px !important; }

/* line 26, ../scss/helpers/_functions.scss */
.ml-30 {
  margin-left: 30px !important; }

/* line 26, ../scss/helpers/_functions.scss */
.ml-35 {
  margin-left: 35px !important; }

/* line 26, ../scss/helpers/_functions.scss */
.ml-40 {
  margin-left: 40px !important; }

/* line 26, ../scss/helpers/_functions.scss */
.ml-50 {
  margin-left: 50px !important; }

/* line 26, ../scss/helpers/_functions.scss */
.ml-60 {
  margin-left: 60px !important; }

/* line 26, ../scss/helpers/_functions.scss */
.ml-80 {
  margin-left: 80px !important; }

/* line 26, ../scss/helpers/_functions.scss */
.ml-90 {
  margin-left: 90px !important; }

/* line 26, ../scss/helpers/_functions.scss */
.ml-100 {
  margin-left: 100px !important; }

/* line 40, ../scss/helpers/_functions.scss */
.pb-0 {
  padding-bottom: 0px !important; }

/* line 40, ../scss/helpers/_functions.scss */
.pb-5 {
  padding-bottom: 5px !important; }

/* line 40, ../scss/helpers/_functions.scss */
.pb-10 {
  padding-bottom: 10px !important; }

/* line 40, ../scss/helpers/_functions.scss */
.pb-15 {
  padding-bottom: 15px !important; }

/* line 40, ../scss/helpers/_functions.scss */
.pb-20 {
  padding-bottom: 20px !important; }

/* line 40, ../scss/helpers/_functions.scss */
.pb-25 {
  padding-bottom: 25px !important; }

/* line 40, ../scss/helpers/_functions.scss */
.pb-30 {
  padding-bottom: 30px !important; }

/* line 40, ../scss/helpers/_functions.scss */
.pb-35 {
  padding-bottom: 35px !important; }

/* line 40, ../scss/helpers/_functions.scss */
.pb-40 {
  padding-bottom: 40px !important; }

/* line 40, ../scss/helpers/_functions.scss */
.pb-50 {
  padding-bottom: 50px !important; }

/* line 40, ../scss/helpers/_functions.scss */
.pb-60 {
  padding-bottom: 60px !important; }

/* line 40, ../scss/helpers/_functions.scss */
.pb-80 {
  padding-bottom: 80px !important; }

/* line 40, ../scss/helpers/_functions.scss */
.pb-90 {
  padding-bottom: 90px !important; }

/* line 40, ../scss/helpers/_functions.scss */
.pb-100 {
  padding-bottom: 100px !important; }

/* line 33, ../scss/helpers/_functions.scss */
.pt-0 {
  padding-top: 0px !important; }

/* line 33, ../scss/helpers/_functions.scss */
.pt-5 {
  padding-top: 5px !important; }

/* line 33, ../scss/helpers/_functions.scss */
.pt-10 {
  padding-top: 10px !important; }

/* line 33, ../scss/helpers/_functions.scss */
.pt-15 {
  padding-top: 15px !important; }

/* line 33, ../scss/helpers/_functions.scss */
.pt-20 {
  padding-top: 20px !important; }

/* line 33, ../scss/helpers/_functions.scss */
.pt-25 {
  padding-top: 25px !important; }

/* line 33, ../scss/helpers/_functions.scss */
.pt-30 {
  padding-top: 30px !important; }

/* line 33, ../scss/helpers/_functions.scss */
.pt-35 {
  padding-top: 35px !important; }

/* line 33, ../scss/helpers/_functions.scss */
.pt-40 {
  padding-top: 40px !important; }

/* line 33, ../scss/helpers/_functions.scss */
.pt-50 {
  padding-top: 50px !important; }

/* line 33, ../scss/helpers/_functions.scss */
.pt-60 {
  padding-top: 60px !important; }

/* line 33, ../scss/helpers/_functions.scss */
.pt-80 {
  padding-top: 80px !important; }

/* line 33, ../scss/helpers/_functions.scss */
.pt-90 {
  padding-top: 90px !important; }

/* line 33, ../scss/helpers/_functions.scss */
.pt-100 {
  padding-top: 100px !important; }

/* line 47, ../scss/helpers/_functions.scss */
.pr-0 {
  padding-right: 0px !important; }

/* line 47, ../scss/helpers/_functions.scss */
.pr-5 {
  padding-right: 5px !important; }

/* line 47, ../scss/helpers/_functions.scss */
.pr-10 {
  padding-right: 10px !important; }

/* line 47, ../scss/helpers/_functions.scss */
.pr-15 {
  padding-right: 15px !important; }

/* line 47, ../scss/helpers/_functions.scss */
.pr-20 {
  padding-right: 20px !important; }

/* line 47, ../scss/helpers/_functions.scss */
.pr-25 {
  padding-right: 25px !important; }

/* line 47, ../scss/helpers/_functions.scss */
.pr-30 {
  padding-right: 30px !important; }

/* line 47, ../scss/helpers/_functions.scss */
.pr-35 {
  padding-right: 35px !important; }

/* line 47, ../scss/helpers/_functions.scss */
.pr-40 {
  padding-right: 40px !important; }

/* line 47, ../scss/helpers/_functions.scss */
.pr-50 {
  padding-right: 50px !important; }

/* line 47, ../scss/helpers/_functions.scss */
.pr-60 {
  padding-right: 60px !important; }

/* line 47, ../scss/helpers/_functions.scss */
.pr-80 {
  padding-right: 80px !important; }

/* line 47, ../scss/helpers/_functions.scss */
.pr-90 {
  padding-right: 90px !important; }

/* line 47, ../scss/helpers/_functions.scss */
.pr-100 {
  padding-right: 100px !important; }

/* line 54, ../scss/helpers/_functions.scss */
.pl-0 {
  padding-left: 0px !important; }

/* line 54, ../scss/helpers/_functions.scss */
.pl-5 {
  padding-left: 5px !important; }

/* line 54, ../scss/helpers/_functions.scss */
.pl-10 {
  padding-left: 10px !important; }

/* line 54, ../scss/helpers/_functions.scss */
.pl-15 {
  padding-left: 15px !important; }

/* line 54, ../scss/helpers/_functions.scss */
.pl-20 {
  padding-left: 20px !important; }

/* line 54, ../scss/helpers/_functions.scss */
.pl-25 {
  padding-left: 25px !important; }

/* line 54, ../scss/helpers/_functions.scss */
.pl-30 {
  padding-left: 30px !important; }

/* line 54, ../scss/helpers/_functions.scss */
.pl-35 {
  padding-left: 35px !important; }

/* line 54, ../scss/helpers/_functions.scss */
.pl-40 {
  padding-left: 40px !important; }

/* line 54, ../scss/helpers/_functions.scss */
.pl-50 {
  padding-left: 50px !important; }

/* line 54, ../scss/helpers/_functions.scss */
.pl-60 {
  padding-left: 60px !important; }

/* line 54, ../scss/helpers/_functions.scss */
.pl-80 {
  padding-left: 80px !important; }

/* line 54, ../scss/helpers/_functions.scss */
.pl-90 {
  padding-left: 90px !important; }

/* line 54, ../scss/helpers/_functions.scss */
.pl-100 {
  padding-left: 100px !important; }

/* line 1, ../scss/helpers/_utilities.scss */
.pull-right {
  float: right; }

/* line 4, ../scss/helpers/_utilities.scss */
.pull-left {
  float: left; }

/* line 8, ../scss/helpers/_utilities.scss */
.btn-yellow {
  background: #FFE600;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  outline: none;
  font-family: "rajdhani-bold"; }

/* line 6, ../scss/base/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 16, ../scss/base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 19, ../scss/base/_reset.scss */
body {
  line-height: 1; }

/* line 22, ../scss/base/_reset.scss */
ol, ul {
  list-style: none; }

/* line 25, ../scss/base/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 29, ../scss/base/_reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 35, ../scss/base/_reset.scss */
q:before, q:after {
  content: "";
  content: none; }

/* line 40, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, ../scss/base/_base.scss */
body {
  font-weight: 500;
  font-family: "museo500", Helvetica, Arial, sans-serif;
  color: #000;
  overflow-x: hidden; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@font-face {
  font-family: "rajdhani-bold";
  src: url("/font/rajdhani-bold-webfont.eot");
  src: url("/font/rajdhani-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/font/rajdhani-bold-webfont.woff") format("woff"), url("/font/rajdhani-bold-webfont.ttf") format("truetype"), url("/font/rajdhani-bold-webfont.svg#rajdhani-bold") format("svg"); }
@font-face {
  font-family: "rajdhani-light";
  src: url("/font/rajdhani-light-webfont.eot");
  src: url("/font/rajdhani-light-webfont.eot?#iefix") format("embedded-opentype"), url("/font/rajdhani-light-webfont.woff") format("woff"), url("/font/rajdhani-light-webfont.ttf") format("truetype"), url("/font/rajdhani-light-webfont.svg#rajdhani-light") format("svg"); }
@font-face {
  font-family: "rajdhani-medium";
  src: url("/font/rajdhani-medium-webfont.eot");
  src: url("/font/rajdhani-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/font/rajdhani-medium-webfont.woff") format("woff"), url("/font/rajdhani-medium-webfont.ttf") format("truetype"), url("/font/rajdhani-medium-webfont.svg#rajdhani-medium") format("svg"); }
@font-face {
  font-family: "rajdhani-regular";
  src: url("/font/rajdhani-regular-webfont.eot");
  src: url("/font/rajdhani-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/font/rajdhani-regular-webfont.woff") format("woff"), url("/font/rajdhani-regular-webfont.ttf") format("truetype"), url("/font/rajdhani-regular-webfont.svg#rajdhani-regular") format("svg"); }
/* line 1, ../scss/layout/_header.scss */
header {
  height: 80px;
  padding: 0px 50px;
  position: relative;
  z-index: 99; }
  /* line 7, ../scss/layout/_header.scss */
  header .logo {
    float: left; }
    /* line 10, ../scss/layout/_header.scss */
    header .logo img {
      max-width: 140px; }
  /* line 15, ../scss/layout/_header.scss */
  header nav {
    position: absolute;
    bottom: 25px;
    padding-left: 200px; }
    /* line 20, ../scss/layout/_header.scss */
    header nav a {
      text-decoration: none;
      color: #000;
      margin-right: 50px;
      font-family: "rajdhani-medium"; }

/* line 30, ../scss/layout/_header.scss */
.title {
  font-size: 35px; }

/* line 33, ../scss/layout/_header.scss */
.sub-title {
  font-size: 15px;
  color: #AFAFAF;
  margin: 15px 0px 20px 0px; }

/* line 1, ../scss/layout/_banner.scss */
.banner {
  min-height: 630px;
  background: url(../images/bg.jpg) no-repeat;
  position: relative;
  color: #FFF; }
  /* line 7, ../scss/layout/_banner.scss */
  .banner img {
    width: 125px; }

/* line 11, ../scss/layout/_banner.scss */
.banner-content {
  color: #FFF;
  max-width: 768px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  margin: auto;
  text-align: center; }
  /* line 23, ../scss/layout/_banner.scss */
  .banner-content h2 {
    color: #FFE600;
    font-size: 50px; }
  /* line 28, ../scss/layout/_banner.scss */
  .banner-content button, .banner-content img {
    display: block;
    margin: 0 auto; }

/* line 1, ../scss/layout/_footer.scss */
footer {
  background: #000;
  min-height: 450px;
  width: 100%;
  color: #fff;
  display: table; }
  /* line 8, ../scss/layout/_footer.scss */
  footer .content-footer {
    max-width: 768px;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    text-align: center;
    position: relative; }
    /* line 16, ../scss/layout/_footer.scss */
    footer .content-footer i {
      background: url(../images/place.svg) no-repeat;
      display: block;
      width: 45px;
      height: 65px;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 30px; }
    /* line 28, ../scss/layout/_footer.scss */
    footer .content-footer h2 {
      font-size: 40px;
      font-family: "rajdhani-medium"; }
    /* line 32, ../scss/layout/_footer.scss */
    footer .content-footer span, footer .content-footer a {
      display: block;
      text-decoration: none;
      color: #FFF;
      font-size: 20px; }
    /* line 39, ../scss/layout/_footer.scss */
    footer .content-footer span {
      font-family: "rajdhani-light";
      margin: 15px 0px 5px 0px; }
    /* line 43, ../scss/layout/_footer.scss */
    footer .content-footer a {
      font-family: "rajdhani-medium";
      margin-bottom: 50px; }

/* line 1, ../scss/pages/_home.scss */
body {
  font-family: "rajdhani-regular"; }

/* line 5, ../scss/pages/_home.scss */
.content, .team, .program {
  max-width: 768px;
  margin: 100px auto 0 auto;
  text-align: center; }
  /* line 10, ../scss/pages/_home.scss */
  .content p, .team p, .program p {
    font-size: 18px;
    line-height: 39px; }
  /* line 15, ../scss/pages/_home.scss */
  .content button, .team button, .program button {
    background: #000;
    border-radius: 75px;
    width: 200px;
    height: 200px;
    border: none;
    outline: none;
    color: #FFE600;
    font-size: 15px;
    font-family: "rajdhani-bold"; }
    /* line 26, ../scss/pages/_home.scss */
    .content button img, .team button img, .program button img {
      width: 70px;
      margin: 20px 0px 15px 0px; }

/* line 37, ../scss/pages/_home.scss */
.team img {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  border-radius: 75px; }
/* line 43, ../scss/pages/_home.scss */
.team .member {
  display: inline-block;
  margin-right: 20px; }
  /* line 47, ../scss/pages/_home.scss */
  .team .member:last-child {
    margin-right: 0px; }
  /* line 50, ../scss/pages/_home.scss */
  .team .member h2 {
    font-family: "rajdhani-bold";
    margin: 13px 0px 7px 0px;
    font-size: 16px; }
  /* line 55, ../scss/pages/_home.scss */
  .team .member span {
    color: #AFAFAF;
    font-size: 13px; }

/* line 65, ../scss/pages/_home.scss */
.program ul li {
  margin: 60px 0px 0px 0px; }
  /* line 67, ../scss/pages/_home.scss */
  .program ul li h2 {
    font-size: 25px;
    font-family: "rajdhani-bold"; }
  /* line 71, ../scss/pages/_home.scss */
  .program ul li span {
    color: #AFAFAF;
    width: 100%;
    font-size: 18px;
    font-family: "rajdhani-bold";
    padding-bottom: 40px;
    border-bottom: 1px solid #EBEBEB;
    display: inline-block; }
  /* line 81, ../scss/pages/_home.scss */
  .program ul li p {
    margin-top: 20px; }

/*# sourceMappingURL=main.css.map */
