@media all and (max-width: 1084px) and (min-width: 651px) {
  header {
    nav {
      left: 271px !important;
    }
  }
}

@media all and (max-width: 650px) {

  header {
	 padding: 30px 0px 0px 5px!important;

	  .logo img {
	  	max-width: 145px!important;
	  }
	  nav {
	  	right: 0;
	  	left: initial!important;
	  	  bottom: -20px!important;

	  	a {
	  		display: block;
	  		margin-bottom: 5px;
	  	}
	  }
	}

	.content p, .team p, .program p {
		font-size: 16px!important;
		line-height: 35px!important;
		padding: 0px 10px;
	}
	.nav-sep {
		display: none;
	}
}
