header {
	height: 	80px;
	padding: 	50px 50px 0px 50px;
	position:   relative;
	top:-20px;
	z-index: 	99;

	.logo {
		float: left;

		img {
			max-width: 200px;
		}
	}

	nav {
		position: absolute;
		bottom: 0px;
		left:25%;

		a {
			text-decoration: none;
			color: #000;
			margin-right: 50px;
			font-weight: 600;
			font-size: 14px;

			&:hover {
				color: $yellow;
			}
		}

	}
}

.title {
	font-size:35px;
}
.sub-title {
	font-size:15px;
	color:#AFAFAF;
	margin: 15px 0px 20px 0px;
}

.nav-sep {
  position: absolute;
  right: 0;
  max-width: 45%;
  width: 45%;
  bottom: 10px;
  height: 1px;
  background: #EBEBEB;
}
