.banner {
	height:700px;
	background: url(../images/bg.jpg) no-repeat;
	position: relative;
	color: #FFF;
	background-size:cover;

	img {
		width: 125px;
	}
}
.banner-content {
	color: #FFF;
	max-width: 768px;
	position:absolute;
	top:-40%;
	bottom:0;
	left:0;
	right:0;
	height:200px;
	margin: auto;
	text-align: center;

	h2 {
		color: $yellow;
		font-size:50px;
	}
	p {
		margin:7px 0px 50px 0px;
	}

	button, img {
		display: block;
		margin: 0 auto 50px auto;
	}

	.what-is {
		display: inline-block;
		margin: 0 auto 20px auto;
		border-radius: 2px;
		color: #000;
		transition:all 0.5s ease;

		&:hover {
			cursor: pointer;
			color: $yellow;
			background-color: #4a4a4a;
		}
	}

}
